$body-font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-size-root: 14px !default;
$small-breakpoint: (767px);
$medium-breakpoint: (1024px);
$screen: "only screen";
$small-up: $screen;
$small-only: "#{$screen} and (max-width: #{$small-breakpoint})";
$medium-up: "#{$screen} and (min-width:#{$small-breakpoint + 1})";
$medium-only: "#{$screen} and (min-width:#{$small-breakpoint + 1}) and (max-width:#{$medium-breakpoint})";

$color-alert-background: #fef6e6;
$color-alert-error-background: #f2dede;
$color-alert-error-foreground: #b94a48;
$color-alert-foreground: #976707;
$color-alert-info-foreground: #367DA1;
$color-alert-info-background: #d9edf7;
$color-alert-success-background: #dff0d8;
$color-alert-success-foreground: #437F4B;
$color-grey: #ccc;
$color-harley-davidson-orange: #cf1715;
$color-red-row-highlighted: #f2dddf;
$color-table-cell-bg-grey: #f5f5f5;
$color-whisper: #eee;
$color-white-smoke: #f6f6f6;
$color-white-translucent: rgba(255, 255, 255, .5);
$color-yellow-row-highlighted: #fefae4;
