#
# AWS configuration for Ripley
#
packages:
  yum:
    gcc-c++: []
    git: []
    postgresql15: []
    mod_ssl: []
    openldap-devel: []
    libpq-devel: []

option_settings:
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: false
    RetentionInDays: 180
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: apache
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /assets: dist/static/assets
    /canvas-customization: dist/static/canvas-customization
    /favicon.ico: dist/static/favicon.ico

files:
  /opt/aws/amazon-cloudwatch-agent/bin/config.json:
    mode: '000644'
    owner: root
    group: root
    content: |
      {
        "logs": {
          "logs_collected": {
            "files": {
              "collect_list": [
                {
                  "file_path": "/var/app/current/ripley.log*",
                  "log_group_name": "`{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/app/current/ripley.log"]]}`",
                  "log_stream_name": "{instance_id}"
                }
              ]
            }
          }
        }
      }
