body {
  background-color: #f6f6f6 !important;
  color: #474747 !important;
  cursor: auto;
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
}

html, body {
  font-size: 14px;
  height: 100%;
}

.height-unset {
  height: unset !important;
  min-height: unset !important;
}
