body {
  background-color: #f6f6f6 !important;
  color: #474747 !important;
  cursor: auto;
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  position: relative;
}

html {
  overflow-y: unset !important;
}

html, body {
  font-size: 14px;
  height: 100%;
}

.height-unset {
  height: unset !important;
  min-height: unset !important;
}

@media print {
  html,
  body {
    height: fit-content;
    *.display-none-when-print {
      display: none;
    }
    *.avoid-break-inside-when-print {
      page-break-inside: avoid;
    }
    *.v-main-when-print {
      padding: 0;
    }
  }
}
